body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #e7e7e7;
    font-family: 'Oxygen', sans-serif;

}

header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img{
    max-width: 150px;
    height: auto;

}

li{
    list-style: none;
    text-decoration: none;

}

.navmenu{
    display: flex;

}

a{
    text-decoration: none;

}

.navmenu a{
    color: #2c2c2c;
    font-size: 19px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

}

.navmenu a:hover{
    color: #ee1c47;

}

.navbar{
    display: flex;

}

.navbar a{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 19px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

}

